################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/pr_4
/pr_3
/pr_2
/pr_1
/pr_5/task_1/task_1.1/.vs/task_1.1/v16
/pr-06
/pr_6/.vs/pr_6/v16/Server/sqlite3/db.lock
